*{
    padding: 0;
    margin:0;
}

.Main-Container{
  
   display:flex;
   padding: 0;
   margin: 0;
   height: 100vh;
   width: 100%;
}

.Left-Container{

    padding: 50px;
    background-color: rgb(0, 155, 104);
    height:100%;
    width: 200px;
  
    justify-content: left;
    align-items: left;
    padding: 0;
    margin: 0;
}

.Right-Container{

    padding: 0;
    margin: 0;
    background-color: rgb(218, 218, 218);
    height:100%;
    width: 100%;
}

.dashboard{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    color: white;

}


.sidebar{
    overflow-x: hidden;
    padding-top: 75px;
   
}


.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;

}

.sidebar2{

    padding-top: 30px;
}

.Top-Container{
    height:200px;
    width:100%;
    background-color: white;
    box-shadow: 100ox;
    
       
}

.Top-Nav{


    padding: 10px 50px;
}

nav ul {
    margin:0;
    padding:0;
    list-style: none;
    float: right;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-left: 50px;
}

nav input{
    float: left;
}

.Second-Nav{
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    
}

.headers{
    display: block;
    padding: 20px ;
    float: left;
}

.headers-button{
    float: right;
    padding-left: 100px;
}

.headers-button button{
    padding: 5px 10px;
    border-radius: 100px;
    background-color: rgb(0, 155, 104);
    color: white;
    border-style: none;
}

/* test */